* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor {
    position: relative;
    margin: 20px;
    height: 600px;
    width: 1085px;
    overflow: hidden;
    background-image: url('media/fondo.jpg');
    background-size: cover;
}

.contenedor > * {
    position: absolute;
}

.coche_cont {
    width: 300px;
    height: auto;
    left: 0px;
    bottom: 0px;
    animation: mov_coche 3s linear 1s forwards;
}

.coche {
    position: absolute;
    width: 100%;
    height: auto;
    left: 0px;
    bottom: 0px;
}

.rueda {
    position: absolute;
    width: 80px;
    bottom: 0px;
    animation: girar_rueda 1s linear 1s backwards 3;

}
.coche_cont > .rueda:nth-of-type(2) {
    margin-left: 47px;
}

.coche_cont > .rueda:nth-of-type(3) {
    margin-left: 196px;
}

.arbol {
    width: 500px;
    height: 524.53px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.arbol_copa, .arbol_tronco {
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
}

.arbol_copa {
    animation: arbol_caido 2s ease 4s forwards;
}

.explosion {
    width: 200px;
    right: 200px;
    bottom: 50px;
    opacity: 0;
    animation: choque 1.5s ease-in-out 3.5s backwards;
}

.fuego {
    width: 100px;
    right: 270px;
    bottom: 80px;
    opacity: 0;
    animation: choque 1s ease-in-out 5s forwards;
}

@keyframes mov_coche {
    0% {
        /* left: 0px; */
        transform: translateX(0px);
    }
    90% {
        transform: translateX(calc(520px*0.9)) rotateY(0deg);
    }
    100% {
        /* left: 520px; */
        transform: translateX(520px) rotateY(45deg);
    }
}

@keyframes girar_rueda {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    
}

@keyframes choque {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}

@keyframes arbol_caido {
    0% {

    }
    100%{
        transform: rotate(-90deg) translate(-150px, -500px);
    }
}