body {
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}

.btn {
  background-color: #199319;
  border-radius: 10px;
  color: white;
  padding: 15px 25px;
  text-decoration: none;
}

.btn:hover {
  background-color: #223094;
}
