:root {
    --x-dcha: 900px;
    --x-izqda: 200px;
    --y-arriba: 80px;
    --y-abajo: 620px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor {
    position: relative;
    width: 1200px;
    height: 800px;
}
.contenedor > * {
    position: absolute;
}

.circuito {
    width: 100%;
    height: 100%;
}

.coche {
    width: 150px;
    height: auto;
    transform: translate(500px, 20px);
    animation: mover_coche 5s linear infinite normal;
    animation-play-state: paused;
}

.coche:hover {
    animation-play-state: running;
}

@keyframes mover_coche {
    0% {
        /* transform-origin: top right; */
        transform: translate(550px, var(--y-arriba)) rotate(0deg);
    }
    20% {
        /* transform-origin: top right; */
        transform: translate(var(--x-dcha), var(--y-arriba)) rotate(0deg);
    }
    30% {
        /* transform-origin: top right; */
        transform: translate(1050px, calc((var(--y-arriba) + var(--y-abajo))/2)) rotate(90deg);
    }
    40% {
        /* transform-origin: top right; */
        transform: translate(var(--x-dcha), var(--y-abajo)) rotate(180deg);
    }
    60%{
        /* transform-origin: top right; */
        transform: translate(var(--x-izqda), var(--y-abajo)) rotate(180deg)
    }
    70% {
        /* transform-origin: top right; */
        transform: translate(-25px, calc((var(--y-arriba) + var(--y-abajo))/2)) rotate(270deg);
    }
    80% {
        /* transform-origin: top right; */
        transform: translate(var(--x-izqda), var(--y-arriba)) rotate(360deg);
    }
    100% {
        /* transform-origin: top right; */
        transform: translate(550px, var(--y-arriba)) rotate(360deg);
    }
}