html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: black;
  }
  
  .div1 {
    height: 150vh;
    background-image: url('media/img1.jpg');
  }
  
  .div2 {
    height: 150vh;
    background-image: url('media/img2.png');
    transform: translateY(-150vh);
  }
  
  .div3 {
    height: 150vh;
    background-image: url('media/img3.jpg');
    transform: translateY(-200vh);
  }
  
  .parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  