:root {
    --color-bottom: #c1272e;
    --color-bt1-bt2: #d33c3c;
    --color-cielo: rgb(17, 17, 154);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red */
}

body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.ejercicio {
    width: 600px;
    height: 600px;
    margin: 2vh 2vw;
}

.enunciado {
    width: 900px;
    height: auto;
    margin: 2vh 2vw;
    line-height: 1.5;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.enunciado h1, .enunciado h2 {
    padding: 1rem 0 0.3rem 1rem;
}

.enunciado p {
    font-size: 0.8rem;
}


.ejercicio {
    position: relative;
}

.ejercicio > * {
    position: relative;
}

.contenedor {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    margin: 20px 20px;
    background-color: var(--color-cielo);
}

.bottom{
    background-color: var(--color-bottom);
    height: 70px; 
    width: 350px;
    bottom: 80px;
    left: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fafafa;
}

.bt1,.bt2{
    background-color: var(--color-bt1-bt2);
    height: 20px;
    width: 370px;
    position: absolute;
    border-radius: 10px; 
}
.bt1 {
    top: -10px;
    left: -10px;
}
.bt2 {
    bottom: -10px;
    left: -10px;
}


.contenedor > * {
    position: absolute;
}

.casa {
    width: 40%;
    height: 35%;
    top: 52%;
    left: 40%;
    background-image: url('media/imgs/casa.png');
    background-size: cover;
    position: relative;
}

.casa > * {
    position: absolute;
}

.humo {
    width: 90%;
    left: 33%;
    top: -62%;
}

.puerta {
    width: 16%;
    height: auto;
    bottom: 0%;
    left: 41%;
}

.piruleta {
    width: 11%;
    bottom: 0%;
    left: 44%;
}

.copos {
    width: 1000px;
    height: 500px;
    top: -500px;
    left: -1000px;
    border: 1px solid red
}

.regalo {
    width: 10%;
    height: auto;
    left: 20%;
    top: 18%;
}

.santa {
    width: 50%;
    height: auto;
    top: 30%;
    right: -30%;
}