:root {
    --color-bottom: #c1272e;
    --color-bt1-bt2: #d33c3c;
    --color-cielo: rgb(17, 17, 154);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red */
}

body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.ejercicio {
    width: 600px;
    height: 600px;
    margin: 2vh 2vw;
}

.enunciado {
    width: 900px;
    height: auto;
    margin: 2vh 2vw;
    line-height: 1.5;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.enunciado h1, .enunciado h2 {
    padding: 1rem 0 0.3rem 1rem;
}

.enunciado p {
    font-size: 0.8rem;
}


.ejercicio {
    position: relative;
}

.ejercicio > * {
    position: relative;
}

.contenedor {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    margin: 20px 20px;
    background-color: var(--color-cielo);
    z-index: 1;
    overflow: hidden;
}

.bottom{
    background-color: var(--color-bottom);
    height: 70px; 
    width: 350px;
    bottom: 80px;
    left: 95px;
    cursor: pointer;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fafafa;
}

.bottom h2 {
    opacity: 0;
    transition: opacity 0.5s linear;
}

.bt1,.bt2{
    background-color: var(--color-bt1-bt2);
    height: 20px;
    width: 370px;
    position: absolute;
    border-radius: 10px; 
    z-index: 4;
}
.bt1 {
    top: -10px;
    left: -10px;
}
.bt2 {
    bottom: -10px;
    left: -10px;
}


.contenedor > * {
    position: absolute;
}

.casa {
    width: 40%;
    height: 35%;
    top: 52%;
    left: 40%;
    background-image: url('media/imgs/casa.png');
    background-size: cover;
    position: relative;
    z-index: 5;
}

.casa > * {
    position: absolute;
}

.humo {
    width: 90%;
    left: 33%;
    top: -62%;
    opacity: 0;
    transform: scale(0);
    transition: all 2s;
    z-index: 4;
}

.puerta {
    width: 16%;
    height: auto;
    bottom: 0%;
    left: 41%;
    z-index: 7;
    transition: all 1s;
    transition-delay: 3s;
}

.piruleta {
    width: 11%;
    bottom: 0%;
    left: 44%;
    z-index: 6;
    transition: all 2s 1s;
}

.copos {
    width: 1000px;
    height: 500px;
    top: -500px;
    left: -1000px;
    z-index: 2;
}

.regalo {
    width: 10%;
    height: auto;
    left: 20%;
    top: 18%;
    opacity: 0;
}

.santa {
    width: 50%;
    height: auto;
    top: 30%;
    right: -30%;
    z-index: 6;
}

.bottom:hover h2 {
    opacity: 1;
}

.casa:hover .humo {
    opacity: 1;
    transform: scale(1);
}

.copos_nevando {
    transform: translate(1000px, 500px);
    opacity: 0;
    transition: transform 5s, opacity 2s linear 8s;
}

.santa:hover {
    transform: translate(-300%, -150%);
    transition: transform 5s linear;
}

.santa:hover ~ .regalo {
    transform: translateY(500%) rotate(360deg);
    opacity: 1;
    transition: transform 1s linear 2.5s, opacity 0.5s 2.5s;
}

.puerta:hover {
    transform-origin: left center;
    transform: rotateY(60deg);
    transition-delay: 0s;
}

.puerta:hover ~ .piruleta {
    transform: rotate(-380deg) scale(3) translateY(-140%);
}