:root {
    --rotacion: 0deg;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    z-index: 1;
}

h1 {
    margin: 3vh 0;
    z-index: inherit;
}

.contenedor {
    position: relative;
}

.ruleta {
    width: 650px;
    height: 650px;
    z-index: 0;
    transition: transform 3s ease-in-out;
    transform: rotate(var(--rotacion));
}

.ruleta img {
    width: 100%;
    height: auto;
}

.flecha {
    position: absolute;
    top: 310px;
    left: 0px;
    width: 50px;
    height: 30px;
    background-color: rgb(43, 106, 106);
    clip-path: polygon(0% 0%, 0% 100%, 100% 50%);
    z-index: 1;
}

/* .seccion {
    position: absolute;
    width: 50%;
    height: 50%;
    background: lightgray;
    transform-origin: 100% 100%;
    clip-path: polygon(100% 100%, 0% 100%, 100% 0%);
} */

button {
    margin: 3vh 0;
    width: 100px;
    height: 50px;
    border-radius: 20px;
    background-color: rgb(43, 106, 106);
    border: 2px solid rgb(7, 32, 32);
    color: #fafafa;
    transition: all 0.2s ease;
    z-index: inherit;
}

button:hover {
    box-shadow: 3px 3px 3px aqua;
    transform: translate(-2px, -2px);
}